html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    background-color: #fff4f4;
    width: 100%;
}
.shop-logo{
    margin-left: 2rem;
    width: 150px;
}
.left-part-logo, .right-part{
    width: 50%;
    display: flex;
    align-items: center;
}
.right-part{
    display: flex;
    align-items: center;
    justify-content: end;
}
.right-part div{
    margin-right: 2rem;
}
.search-input{
    height: 2rem;
    width: 13rem;
    border: none;
    padding-left: 3%;
}
.account-image{
    width: 40px;
    border-radius:  50px;
}
.shopping-cart, .shopping-cart-div{
    width: 50px;
}
.shopping-cart-div{
    display: flex;
    align-items: center
}
.shopping-cart-image{
    position: relative;
    top: 0.1rem
}
.items-number{
    position: absolute;
    top: 0.8rem;
    left: 19.5px;
    z-index: 2;
    margin: 0
}
.items-number{
    color: white;
    font-family: "Poppins", sans serif;
}
.drop-down{
    background-color: transparent;
    border: none;
}
.dropdown-div{
    position: relative;
    display: inline-block;
    padding: 0;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    padding: 1rem 2rem ;
    display: block;
    font-size: 0.9rem;
    width: 150px;
}

.dropdown-content a:hover{
    background-color: #ddd;
    font-weight: 400;
}
.dropdown-div:hover .dropdown-content{
    display: block;
}
.list-cart{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    right: -34px;
    left: 100%;
    width: 500px;
    background-color: #58344c;
    height: 100vh;
    transition: 0.5s;
    z-index: 500;
}
.list-cart h1{
    color: #fff4f4;
    font-weight: 400;
    margin: 0;
    padding: 0rem 1.2rem;
    height: 80px;
    display: flex;
    align-items: center;
}
.list-cart .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.list-cart .checkout div{
    background-color: #fff4f4;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.list-cart .checkout div:nth-child(1){
    background-color: #f4d4e4;
}
.active .list-cart{
    left: calc(100% - 500px);
}
.active body{
    transform: translateX(-200px);
}
a{
    text-decoration: none;
    color: black;
    margin-right: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: 0.2s;
}
a:hover{
    font-weight: bold;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5% 3%;
    padding-top: 5%; !important
}
.left-nav-links, .right-nav-links{
    display: flex;
    width: 50%;
}
.right-nav-links{
    justify-content: end;
}
.label{
    margin: 0;
    padding: 0; !important
    margin-bottom: 30px;
}
.menu-toggle{
    width: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    background-color: white;
    top: 60px;
}
.menu-toggle a{
    padding: 5rem
}
.checkboxx{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    display: none;
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: black;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.checkboxx:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.checkboxx:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
.checkboxx:checked ~ .toggle .middle-line{
    opacity:0;
}
.checkboxx:checked ~ .menu-toggle{
    transform: translateX(0)
}
.introduction-section{
    display: flex;
    justify-content: center;
}
.introduction-div{
    display: flex;
    height: 400px;
    background-color: #f8d4e4;
    padding: 0.5% 3%;
    justify-content: center;
    background-image: url('images/opening.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.introduction-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.intro-headings{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}
.shop-btn{
    display: flex;
    justify-content: center;
    text-align: center;

    width: 100%;
}
.introduction-div h1{
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin: 0;
}
.introduction-div div{
    display: flex;
    flex-direction: column;
}
.shop-now{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 100%;
    padding: 2%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff4f4;
    color: #58344c;
}
.shop-btn a{
    margin: 0;
}
.shop-now:hover{
    background-color: #58344c;
    color: #fff4f4;
}
.best-sellers, .buy-items{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.best-sellers-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.best-sellers-heading h1, .follow-us-heading h1, .buy-items-heading h1 , .about-me-heading h1, .contact-heading h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}
.best-sellers-heading h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel.no-transition {
    scroll-behavior: smooth;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel{
    padding: 0;
}
.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff4f4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.wrapper i{
    height: 50px;
    width: 50px;
    background: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 1.25rem;
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.pastry h2{
    font-family: "Poppins", sans serif;
}
.card .pastry img{
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.all-items{
    display: flex;
    justify-content: center;
    margin-top: 5rem
}
.all-items-button{
    font-family: "Poppins", sans serif;
    width: 10rem;
    padding: 15%;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s;
}
.all-items-button:hover{
    color: white;
    background-color: black;
}
.display-items-div{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display-items-group{
    display: flex;
    justify-content: center;
}
.display-items-sale{
    display: grid;
    grid-template-columns: 18.5rem 18.5rem 18.5rem;
    grid-gap: 10px;
}
.follow-us-heading{
    text-align: center;
}
.bites{
    display: grid;
    grid-template-columns: repeat(6 3rem);
    column-gap: 16px;
}
.bites-image img{
    width: 100%;
}
footer{
    background-color: #fff4f4;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.arrow-down{
    display: none;
}
.footer-links-dropdown{
    display: none;
}
.footer-website{
    display: flex;
    justify-content: center
}
.footer-div{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 25%;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.website-copyrights h1{
    font-size: 1rem
}
.head h1{
    font-size: 1rem;
}
.schedule, .address{
    display: flex;
    flex-direction: column;
}
.schedule h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
}
.full-address p{
    margin: 0;
}
.input-email input{
    width: 92%;
    padding: 3%;
}
.input-email button{
    margin-top: 0.5rem;
    width: 100%;
    padding: 3%;
    border:none;
    background-color: #f8d4e4;
}
.input-email h4{
    margin: 0;
    font-weight: 400;
}
.socials{
    display: flex;
    margin-top: 2.2rem;
    justify-content: end;
    align-items: center;
}
.website-copyrightss{
    display: none;
}

.buy-div, .about-me-div, .contact-div, .map{
    background-color: #f3f3f5;
}
.buy-items{
    background-color: #f3f3f5;
}
.product-name{
    font-family: "Poppins", sans serif;
}
.add-to-cart{
    width: 200px;
    background-color: #58344c;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-family: "Poppins", sans serif;
    transition: 0.2s;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: white;
    color: #58344c;
}
.list-items li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
    
}
.list-items li div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-items li img{
    width: 90%;
}
.list-items li img{
    width: 90%;
}
.list-items button{
    width: auto;
    background-color: #fff5;
    border: none;
}
.list-items .count{
    margin: 0 10px;
}
.buy-items-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.buy-items-heading, .about-me-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about-me-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem;
}
.about-image{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.about-me-heading{
    margin: 0;
}
.about-image img{
    width: 20%;
    border-radius: 100%;
}
.paragraph-div{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    padding: 5rem 6rem;
    text-align: center;
    margin: 0;
}
.contact-div{
    display: flex;
}
.input-div{
    width: 60%;
    padding: 0.5% 3%;
}
.details-div{
    width: 40%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.info-div{
    display: block;
    font-family: "Poppins", sans-serif;
    width: 50%
}
.left-fill{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.left-fill input{
    padding: 1rem 1rem;
    margin: 0.2rem;
}
.right-fill{
    width: 30%;
}
.right-fill textarea{
    width: 100%;
    height: 78.6%;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
}
.fill-up{
    display: flex;
    padding: 3rem;
}
.submit{
    display: flex;
    justify-content: end;
    width: 100%;
}
.submit button{
    width: 90%;
    padding: 3%;
    border: none;
    font-family: "Poppins" sans serif;
    background-color: #f8d4e4;
}
.map{
    padding-top: 4rem;
    width: 100%;
}
.map img{
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 480px){
    html,body{
        overflow-x: hidden;
    }
    header{
        position: fixed;
        z-index: 100;
    }
    .left-part-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-part{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .label{
        margin: 0;
        padding: 0; !important
    }
    .menu-toggle{
        width: 80%;
        background-color: white;
        transform: translateX(-100%);
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: absolute;
        background-color: white;
        top: 53px;
        overflow: hidden;
        z-index: 999;
    }
    .menu-toggle a{
        padding: 3rem;
        transition: 0.2s:
    }
    .menu-toggle a:hover, .menu-toggle a:focus, .menu-toggle a:active{
        color: white;
        background-color: gray
    }
    .checkboxx{
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }
    .toggle{
        display: block;
        margin-left: 1rem;
        top: 15px;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        z-index: 1;
    }
    .toggle .common{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: black;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    .toggle .top-line{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .middle-line{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .bottom-line{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .checkboxx:checked ~ .toggle .top-line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }
    .checkboxx:checked ~ .toggle .bottom-line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }
    .checkboxx:checked ~ .toggle .middle-line{
        opacity:0;
    }
    .checkboxx:checked ~ .menu-toggle{
        transform: translateX(0)
    }
    .shopping-cart-div, .list-cart{
        display: flex;
        z-index: 1000;
    }
    .active .list-cart{
        left: calc(100% - 435px);
    }
    .active body{
        transform: translateX(-100px);
    }
    .list-items{
        display: block;
    }
    .list-items li div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list-items li img{
        width: 90%;
    }
    .list-items li img{
        width: 90%;
    }
    .list-items button{
        width: auto;
        background-color: #fff5;
        border: none;
    }
    .list-items .count{
        margin: 0 10px;
    }
    .introduction-div{
        padding-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .intro-headings{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        order: 2;
    }
    .shop-btn{
        display: flex;
        order: 1;
    }
    .shop-now{
        width: 100%;
    }
    .introduction-div h1{
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
    .introduction-div button{
        padding: 3% 3%;
    }
    .footer-website{
        display: flex;
        flex-direction: column;
    }
    .footer-div{
        width: 100%;
        display: block;
    }
    .head-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head{
        width: 100%;
        position: relative;
    }
    .footer-links{
        display: none;
    }
    .footer-links-dropdown{
        display: none;
    }
    .footer-links-dropdown a{
        display: block;
    }
    .arrow-down:hover, .footer-links-dropdown{
        display: block;
    }
    .dropdown-button{
        background-color: transparent;
        border: none;
    }
    .dropdown-button img{
        width: 50%;
    }
    .website-copyrights{
        display: none;
    }
    .website-copyrightss h1{
        display: block;
        font-size: 1rem;
    }
    .website-copyrightss{
        display: block;
        margin-right: 1rem
    }
    .socials{
        justify-content: start;
    }
    .input-div{
        display: block;
        width: 100%
    }
    .details-div{
        display: none;
    }
    .contact-div{
        display: flex;
        flex-direction: column;
    }
    .contact-heading{
        display: block;
        text-align: center;
    }
    .fill-up{
        display: flex;
        flex-direction: column;
    }
    .left-fill{
        display: block;
        width: 100%;
    }
    .left-fill input{
        width: 90%;
    }
    .right-fill{
        display: block;
        width: 90%;
    }
    .right-fill textarea{
        height: 8rem;
    }
    .info-div{
        display: block;
        text-align: center;
    }
    .paragraph p{
        font-size: 70%;
    }
    .about-image img{
        margin-top: 2rem;
        width: 80%;
        border-radius: 100%;
    }
}

@media screen and (max-width: 768px){
    html,body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .left-part-logo{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .right-part{
        display: flex;
        width: 50%;
    }
    .search-div, .dropdown-div, .account-div{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .label{
        margin: 0;
        padding: 0; !important
    }
    .menu-toggle{
        width: 80%;
        background-color: white;
        transform: translateX(-100%);
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: absolute;
        background-color: white;
        top: 53px;
        overflow: scroll;
        z-index: 999;
    }
    .menu-toggle a{
        padding: 3rem;
        transition: 0.2s:
    }
    .menu-toggle a:hover, .menu-toggle a:focus, .menu-toggle a:active{
        color: white;
        background-color: gray
    }
    .checkboxx{
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }
    .toggle{
        display: block;
        margin-left: 1rem;
        top: 15px;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        z-index: 1;
    }
    .toggle .common{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: black;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    .toggle .top-line{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .middle-line{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle .bottom-line{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .checkboxx:checked ~ .toggle .top-line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }
    .checkboxx:checked ~ .toggle .bottom-line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }
    .checkboxx:checked ~ .toggle .middle-line{
        opacity:0;
    }
    .checkboxx:checked ~ .menu-toggle{
        transform: translateX(0)
    }
    .introduction-div{
        padding-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .intro-headings{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        order: 2;
    }
    .shop-btn{
        display: flex;
        order: 1;
    }
    .shop-now{
        width: 100%;
    }
    .introduction-div h1{
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
    .introduction-div button{
        padding: 3% 3%;
    }
    .pastries{
        display: flex;
        flex-direction: column;
    }
    .input-div{
        display: block;
        width: 100%
    }
    .details-div{
        display: none;
    }
    .contact-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-heading{
        display: block;
        text-align: center;
    }
    .fill-up{
        display: flex;
        flex-direction: column;
    }
    .left-fill{
        display: block;
        width: 100%;
    }
    .left-fill input{
        width: 90%;
    }
    .right-fill{
        display: block;
        width: 90%;
    }
    .right-fill textarea{
        height: 8rem;
    }
    .footer-website{
        display: flex;
        flex-direction: column;
    }
    .footer-div{
        width: 100%;
        display: block;
    }
    .head-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head{
        width: 100%;
        position: relative;
    }
    .footer-links{
        display: none;
    }
    .footer-links-dropdown{
        display: none;
    }
    .footer-links-dropdown a{
        display: block;
    }
    .arrow-down:hover, .footer-links-dropdown{
        display: block;
    }
    .dropdown-button{
        background-color: transparent;
        border: none;
    }
    .dropdown-button img{
        width: 50%;
    }
    .website-copyrights{
        display: none;
    }
    .website-copyrightss h1{
        display: block;
        font-size: 1rem;
    }
    .website-copyrightss{
        display: block;
        margin-right: 1rem
    }
    .socials{
        justify-content: start;
    }
    .paragraph p{
        font-size: 70%;
    }
    .about-image img{
        margin-top: 2rem;
        width: 50%;
        border-radius: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .input-div{
        display: block;
        width: 100%
    }
    .details-div{
        display: none;
    }
    .contact-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-heading{
        display: block;
        text-align: center;
    }
    .fill-up{
        display: flex;
        flex-direction: column;
    }
    .left-fill{
        display: block;
        width: 100%;
    }
    .left-fill input{
        width: 90%;
    }
    .right-fill{
        display: block;
        width: 90%;
    }
    .right-fill textarea{
        height: 8rem;
    }
}

@media screen and (max-width: 768px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 480px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}